.about-us {
    .container {
        display: flex;
    }
}

.about-us__image {
    width: 50%;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.about-us__content {
    //max-width: 570px;
    width: 50%;
}

.about-us__sub-title {
    font-family: $fontf;
    margin-bottom: 40px;
    color: #ff3946;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.about-us__title {
    margin-bottom: 70px;
    max-width: 385px;
    color: #314584;
    font-family: $fontf;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}

.about-us__text {
    color: #314584;
    font-family: $fontf;
    font-size: 18px;
    line-height: 30px;
}


@media(max-width: 900px) {
    .about-us {
        .container {
            display: block;
        }
    }

    .about-us__image {
        margin-bottom: 30px;
        width: 100%;
    }

    .about-us__content {
        width: 100%;
    }
}


@media(max-width: 500px) {
    .about-us__sub-title {
        margin-bottom: 20px;
    }

    .about-us__title {
        margin-bottom: 30px;
    }
}


@media(max-width: 410px) {
    .about-us__title {
        font-size: 35px;
        max-width: 280px;
        line-height: 45px;
    }
}